/* Home Page Style */
 
@import url('https://fonts.googleapis.com/css?family=Lato:300:400');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
 
body{
  overflow-x: hidden;
}
.navbar {
  margin-left: 20px;
}
.form-inline {
  margin-left: 380px;
}
.form-inline input {
  height: 37px;
}
 
 
.header1 h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 48px;
  padding: 3rem;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  color: #333333;
}
 
.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}
 
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
 
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
 
 
 
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 
#search{
  margin: 0px;
  position: relative;
  bottom: 2px;
  height: 37px;
}
 
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}
 
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}
 
/* Animation */
 
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
.inner-header1 {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}
 
.inner-header1 h3 {
  font-family: "Oswald", sans-serif;
}
 
.card h5{
  font-family: 'Bebas Neue', cursive;
}
 
.inner-header2 {
  height: 40vh;
}
.inner-header2 a{
    text-decoration: none;
    color: black;
}
.row .card{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0.3rem 1rem;
  color: black;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 18rem;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.card-img-top{
  width: 100%;
  height: 50%;
  border-radius: 5%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
 
@media screen and ( max-height: 600px ){
  background: blue;
}
 
/* Home Page Style */
 
 
 
 
 
 
 
 
 
 
/* Learn Page Style */
.learn {
  height: 95vh;
  overflow: hidden;
  background: rgb(25, 35, 125);
}
.prompt {
  position: relative;
  top: 26rem;
  left: 2rem;
  color: white;
}
div.drop-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 200px;
  width: 200px;
}
 
div.drop {
  position: absolute;
  top: -25%;
  width: 100%;
  height: 100%;
  border-radius: 100% 5% 100% 100%;
  transform: rotate(-45deg);
  margin: 0px;
  background: deepskyblue;
  animation: drip 4s forwards;
}
 
.learn h1 {
  color: white;
  position: absolute;
  font-size: 2.5em;
  height: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
  text-align: center;
  opacity: 0;
  animation: appear 2s 2.5s forwards;
}
 
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 
div.drop-container:before,
div.drop-container:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 55%;
  right: 50%;
  transform: translate(50%) rotateX(75deg);
  border-radius: 100%;
  opacity: 0;
  width: 75%;
  height: 75%;
  border: 5px solid skyblue;
  animation: dripple 2s ease-out 1s;
}
 
div.drop-container:after {
  animation: dripple 2s ease-out 1.7s;
}
 
@keyframes drip {
  45% {
    top: 0;
    border-radius: 100% 5% 100% 100%;
    transform: rotate(-45deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
    border-radius: 100%;
  }
}
 
@keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}
 
/* Learn Page Style */
 
 
 
 
 
 
 
 
 
 
/* Profile page style */
.profile {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(https://cdn.pixabay.com/photo/2017/09/16/16/09/sea-2755908__340.jpg);
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
 
.blurred-box {
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}
 
.blurred-box:after {
  content: "";
  width: 300px;
  height: 300px;
  background: inherit;
  position: absolute;
  left: -25px;
  left: position;
  right: 0;
  top: -25px;
  top: position;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}
 
/* Form which you dont need */
.user-login-box {
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > * {
  display: inline-block;
  width: 200px;
}
 
.user-icon {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(https://pbs.twimg.com/profile_images/725321660484583424/ArQ4fM3k.jpg);
}
 
.user-name {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}
 
input.user-password {
  width: 120px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}
 
/* Profile page style */
 
 
 
 
 
 
 
 
/* Login */
.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
/* Login */
 
 
 
 
 
 
 
 
 
 
/* Contact */
.contact{
    height: 100vh;
    background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );   
}
.area {
  text-align: center;
  font-size: 4em;
  color: rgb(17, 16, 16);
  /* letter-spacing: -7px; */
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 3s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  padding: 20px;
  position: relative;
  top: 5rem;
}
span#text{
    position: relative;
    padding: 2rem 0;
}
 
@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
/* Contact */
